* {
    outline: 1px solid red;
}


@font-face { 
    font-family: customFont1;
    src: url("./customFonts/Comfortaa-Regular.ttf");
}


html, body { 
    margin: 0;
    border: 0;
    height: 100vh;
    width: auto;
    font-family: customFont1 ,Arial;
}

/*THE MAIN MAIN BOX CONFIG */
.mainMainBox {
    height: 100vh;
    width: auto;
    background-color: rgb(214, 200, 161);
    display: grid;
    grid-template-rows: 100px 1fr 1fr 40px;
    grid-template-columns: minmax(300px, 1fr) minmax(500px, 2fr);

}




/*TOP BOX CONFIG */
.topCont {
    background-color: rgb(214, 200, 161);
    border-bottom: 2px solid rgb(184, 172, 139);
    grid-row: 1;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/*TOP BOX CONTENT */

.headerBox {
    display: grid;
    grid-template-rows: 40px;
    align-content: center;
    align-items: center;
    justify-content: start;
}

.topHead, #topCaption {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    align-content: center;
}

.topHead {
    color: white;
    font-size: 36px;
    font-weight: bold;
}

#topCaption {
    font-size: 11px;
    color: rgb(255, 255, 255);
}

.logoBox {
    display: grid;
    align-items: center;
    justify-content: center;
}


.libraryLogoHead {
    width: 80px;
    height: 80px;
    filter: invert();
}




/*SIDE BOX CONFIG*/
.sideCont {
    border-right: 2px solid rgb(184, 172, 139);
    grid-row: 2 / span 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr;
    color: white;
    justify-items: center;
    align-items: center;

}



/*THE START PAGE OF SIDE CONTENT*/
.startSection {
    height: 400px;
    width: 270px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    display: none;
    justify-items: center;
    align-items: center;
}


.startBTN, .removeBTN {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.startBTN:hover, .removeBTN:hover {
    background-color: rgb(250, 250, 250);
    color: rgba(0, 0, 0, 0.4);
}

.startBTN:active, .removeBTN:active {
    background-color: rgb(250, 250, 250, 0.8);
    color: rgba(0, 0, 0, 0.2);
}

.startHead, .removeHead {
    margin: 0;
    border: 0;
    width: 250px;
}

/*REMOVE PAGE OF SIDE CONTENT */
.removeSection {
    height: 400px;
    width: 270px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    display: none;
    justify-items: center;
    align-content: center;
    align-items: center;
}

/*REMOVE PAGE (IF NO BOOKS ARE PRESENT)*/
.falseHeader {
    margin: 0;
    font-size: 26px;
    text-align: center;
}

.addButton {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    border: 0;
}

.falseHeader, .addButton {
    display: none;
}

/*REMOVE PAGE (IF BOOKS ARE PRESENT)*/
.trueHeader {
    margin: 0;
    font-size: 26px;
    text-align: center;
}

.trueParagraph {
    font-size: 13px;
    width: 200px;
}

.trueHeader, .trueParagraph {
    display: none;
}

/*INPUT PAGE OF SIDE CONTENT*/

.inputSection {
    height: 400px;
    width: 270px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    display: none;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.inputInfo {
    width: 250px;
    height: 250px;
    gap: 10px;
    display: grid;
    align-content: start;
    align-items: center;
}

.formLabel {
    width: 200px;
    border: 0;
}

.bookTitleInput, .authorNameInput {
    width: 150px;
    background-color: rgba(255, 255, 255, 1);
    border: 0.5px solid black;
    
}

.pageCountInput {
    width: 150px;
    background-color: rgb(255, 255, 255, 1);
    border: 0.5px solid black;
}

.bookTitleInput:focus, .authorNameInput:focus, .pageCountInput:focus {
    outline: none;
}


.bookColorInput {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgb(0, 0, 0, 0.0);
    width: 40px; 
    height: 40px;
}

.submitButton {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    border: 0;
}

.submitButton:hover {
    background-color: rgb(250, 250, 250);
    color: rgba(0, 0, 0, 0.4);
}

.submitButton:active {
    background-color: rgb(240, 240, 240, 0.6);
    color: rgba(0, 0, 0);

}

.pageCountInput {
    list-style: none;
}

/*SHELF SELECTION*/


.shelfChoiceSection {
    height: 550px;
    width: 270px;
    font-weight: bold;
    display: none;
    grid-template-rows: 150px 300px;
    justify-items: center;
    align-items: center;
}

.shelfHeader {
    margin: 0;
    font-size: 26px;
    text-align: center;
}

.shelfChoiceButtonBox {
    width: 250px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.shelf1Button, .shelf2Button, .shelf3Button, .shelf4Button, .shelf5Button {
    width: 150px;
    height: 45px;
    border-radius: 20px;
    border: 0;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.shelf1Button:hover, .shelf2Button:hover
, .shelf3Button:hover, .shelf4Button:hover
, .shelf5Button:hover {
    background-color: rgb(250, 250, 250);
    color: rgba(0, 0, 0, 0.4);
}

.shelf1Button:active, .shelf2Button:active
, .shelf3Button:active, .shelf4Button:active
, .shelf5Button:active {
    background-color: rgb(250, 250, 250, 0.8);
    color: rgba(0, 0, 0, 0.2);
}


.confirmedSect {
    height: 550px;
    width: 270px;
    font-weight: bold;
    font-size: 32px;
    display: none;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.backButton {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0);
    cursor: pointer;
}

.backButton:hover {
    background-color: rgb(250, 250, 250);
    color: rgba(0, 0, 0, 0.4);
}

.backButton:active {
    background-color: rgb(250, 250, 250, 0.8);
    color: rgba(0, 0, 0, 0.2);
}


/*BOOK CHOICE SELECTION STYLES */

.bookChoiceSelection {
    height: 550px;
    width: 300px;
    font-weight: bold;
    display: grid;
    grid-template-rows: 150px 300px;
    justify-items: center;
    align-items: center;
}

.bookChoiceHeader {
    font-size: 30px;
    text-align: center;
}

.bookChoiceShelfButtons {
    display: grid;
    height: 350px;
    width: 250px;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center; 
}

.book1Button, .book2Button, .book3Button, .book4Button, .book5Button {
    width: 150px; 
    height: 50px;
    border: 0;
    border-radius: 15px; 
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.book1Button:hover, .book2Button:hover,
.book3Button:hover, .book4Button:hover, .book5Button:hover {
    background-color: rgb(250, 250, 250);
    color: rgba(0, 0, 0, 0.4);
}

.book1Button:active, .book2Button:active,
.book3Button:active, .book4Button:active, .book5Button:active {
    background-color: rgb(250, 250, 250, 0.8);
    color: rgba(0, 0, 0, 0.2);
}








/*CONTENT BOX CONFIG*/
.LibraryCont {
    background-color: white;
    grid-row: 2 / span 2;
    grid-column: 2;
    display: grid;
    justify-content: center;
    align-items: center

}

/*BOOK SHELF STYLING*/
.bookShelf {
    background-color: black;
    border: 20px solid rgb(165, 112, 42);
    width: 350px;
    height: 600px;

}

.shelf1, .shelf2, .shelf3, .shelf4, .shelf5 {
    width: auto;
    height: 110px;
    border-bottom: 10px solid rgb(165, 112, 42);
}


.shelf1 {
    display: grid;
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: 1fr;
    gap: 7px;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.book1, .book2, .book3, .book4, .book5 {
    width: 30px;
    height: 90px;
    margin-top: 16px;
}









/*BOTTOM BOX CONFIG*/
.bottomCont {
    background-color: rgb(214, 200, 161);
    border-top: 2px solid rgb(184, 172, 139);
    grid-row: 4;
    grid-column: 1 / span 2;
}