* {
    outline: 1px solid red;
}

@font-family { 

}


html, body { 
    margin: 0;
    border: 0;
    height: 100vh;
    width: auto;
}

/*THE MAIN MAIN BOX CONFIG */
.mainMainBox {
    height: 100vh;
    background-color: rgb(201, 199, 189);
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;

}




/*TOP BOX CONFIG */
.topCont {
    grid-row: 1;
    grid-column: 1 / span 2;
    
}





/*SIDE BOX CONFIG*/
.sideCont {
    grid-row: 2 / span 2;
    grid-column: 1;
}





/*CONTENT BOX CONFIG*/
.mainCont {
    background-color: white;
    grid-row: 2 / span 2;
    grid-column: 2;

}






/*BOTTOM BOX CONFIG*/
.bottomCont {
    grid-row: 4;
}