  * {
    outline: 1px solid red;
}

@font-face { 
    font-family: customFont1;
    src: url("./customFonts/Comfortaa-Regular.ttf");
}


html, body { 
    margin: 0;
    border: 0;
    height: 100vh;
    width: auto;
    font-family: customFont1 ,Arial;
}

/*THE MAIN MAIN BOX CONFIG */
.mainMainBox {
    height: 100vh;
    background-color: rgb(230, 214, 171);
    display: grid;
    grid-template-rows: 125px 1fr 1fr 80px;
    grid-template-columns: minmax(300px, 0.8fr) minmax(500px, 2fr);

}




/*TOP BOX CONFIG */
.topCont {
    background-color: rgb(214, 200, 161);
    grid-row: 1;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/*TOP BOX CONTENT */

.headerBox {
    display: grid;
    grid-template-rows: 40px;
    align-content: center;
    align-items: center;
    justify-content: start;
}

.topHead, #topCaption {
    padding: 0;
    margin: 0;
    margin-left: 20px;
    align-content: center;
}

.topHead {
    color: white;
    font-size: 36px;
    font-weight: bold;
}

#topCaption {
    font-size: 11px;
    color: rgb(255, 255, 255);
}

.logoBox {
    display: grid;
    align-items: center;
    justify-content: center;
}


.libraryLogoHead {
    width: 100px;
    height: 100px;
    filter: invert();
}




/*SIDE BOX CONFIG*/
.sideCont {
    grid-row: 2 / span 2;
    grid-column: 1;
}





/*CONTENT BOX CONFIG*/
.LibraryCont {
    background-color: white;
    grid-row: 2 / span 2;
    grid-column: 2;
    display: grid;
    justify-content: center;
    align-items: center

}

/*BOOK SHELF STYLING*/
.bookShelf {
    background-color: black;
    border: 20px solid rgb(165, 112, 42);
    width: 350px;
    height: 600px;

}

.shelf1, .shelf2, .shelf3, .shelf4, .shelf5 {
    width: auto;
    height: 110px;
    border-bottom: 10px solid rgb(165, 112, 42);
}









/*BOTTOM BOX CONFIG*/
.bottomCont {
    background-color: rgb(214, 200, 161);
    grid-row: 4;
    grid-column: 1 / span 2;
}